<nav class="navbar navbar-expand-lg " aria-label="Offcanvas navbar large">
    <div class="container-fluid">
      <a class="navbar-brand" href="#"><img src="{% static 'images/TAT.png' %}" height="250px" width="325px" alt="TAT"></a>
      <button class="navbar-toggler fs-1" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar2"
        aria-controls="offcanvasNavbar2">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="offcanvas offcanvas-end text-bg-dark" tabindex="-1" id="offcanvasNavbar2"
        aria-labelledby="offcanvasNavbar2Label">
        <div class="offcanvas-header">
          <h5 class="offcanvas-title" id="offcanvasNavbar2Label"><img src="{% static 'images/TAT.png' %}" height="200px" width="300px"
              alt="TAT"></h5>
          <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas"
            aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
          <ul class="navbar-nav justify-content-center flex-grow-1">
            <li class="nav-item mx-5">
              <a class="nav-link text-light" href="{% url 'home' %}">Home Page</a>
            </li>
            <li class="nav-item mx-5">
              <a class="nav-link text-light" aria-current="page" href="#">Blog</a>
            </li>
            <li class="nav-item mx-5">
              <a class="nav-link text-light" href="#">Contact</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
</nav>